<!DOCTYPE html>

{% load static %}

<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
    <title>Johnny Sound Cloud</title>
</head>
<body>
    <header class="header">
        <img class="logo" src="{% static 'sclogo.png' %}" alt="Sound Cloud Logo">
        <a href="" class="nav-menu">Home</a>
        <a href="" class="nav-menu">Stream</a>
        <a href="" class="nav-menu">Library</a>
        <div class="search-bar">
            <form action="">
                <input type="text" class="search-bar-text">
            </form>
        </div>
        <a class="sign-in-btn">Sign in</a>
        <a class="create-account-btn">Create account</a>
        <a href="" class="upload-btn">Upload</a>
        <a href="" class="menu-btn">●●●</a>
    </header>
    <div class="music-discover">
        <div class="right-banner">
            <div class="banner-bottom-line"></div>
            <span>
                <a href="" class="banner-text">legal-</a>
                <a href="" class="banner-text">Privacy-</a>
                <a href="" class="banner-text">Cookies-</a>
                <a href="" class="banner-text">Imprint-</a>
                <a href="" class="banner-text">Creator Resources-</a>
                <a href="" class="banner-text">Blog-</a>
                <a href="" class="banner-text">Charts-</a>
                <a href="" class="banner-text">Popular searches</a>
            </span>
            <div>
                <span class="blue-text">Language: </span>
                <span class="English">English (US)</span>
            </div>
        </div>
        <div class="music-container">
            <p class="genre">Chill</p>
            <p class="description">Popular playlists from the SoundCloud community</p>
            <div class="music-item">
                <img class="album-img" src="{% static '1.jpg' %}">
                <p class="title">jazzhip</p>
                <p class="artist">soo</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '2.jpg' %}">
                <p class="title">Chillax Mood</p>
                <p class="artist">JezikaE</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '3.jpg' %}">
                <p class="title">Morning Chillout</p>
                <p class="artist">Midghty</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '4.jpg' %}">
                <p class="title">Best Of MrRevillz</p>
                <p class="artist">filyana azman</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '5.jpg' %}">
                <p class="title">Lofi?</p>
                <p class="artist">Perfect</p>
            </div>
            <div class="bottom-line"></div>
        </div>
        <div class="music-container">
            <p class="genre">Party</p>
            <p class="description">Popular playlists from the SoundCloud community</p>
            <div class="music-item">
                <img class="album-img" src="{% static '6.jpg' %}">
                <p class="title">TheSoundYouNeed</p>
                <p class="artist">ilyana azman</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '7.jpg' %}">
                <p class="title">Grooveey danceyy</p>
                <p class="artist">"seba"</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '8.jpg' %}">
                <p class="title">Best Of Chill Nation</p>
                <p class="artist">ilyana azman</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '9.jpg' %}">
                <p class="title">Best Of Deep House</p>
                <p class="artist">westcoast Radio (EDM)</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '10.jpg' %}">
                <p class="title">Best Of MrRevillz</p>
                <p class="artist">filyana azman</p>
            </div>
            <div class="bottom-line"></div>
        </div>
        <div class="music-container">
            <p class="genre">Relax</p>
            <p class="description">Popular playlists from the SoundCloud community</p>
            <div class="music-item">
                <img class="album-img" src="{% static '11.jpg' %}">
                <p class="title">Study, Chill, Relax, Gamin...</p>
                <p class="artist">MugaTunes</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '12.jpg' %}">
                <p class="title">Chillax Mood</p>
                <p class="artist">JezikaE</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '13.jpg' %}">
                <p class="title">Meditation</p>
                <p class="artist">Rehan khan 55</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '14.jpg' %}">
                <p class="title">Jazz hip 4</p>
                <p class="artist">soo</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '15.jpg' %}">
                <p class="title">Lofi?</p>
                <p class="artist">Perfect</p>
            </div>
            <div class="bottom-line"></div>
        </div>
        <div class="music-container">
            <p class="genre">Study</p>
            <p class="description">Popular playlists from the SoundCloud community</p>
            <div class="music-item">
                <img class="album-img" src="{% static '16.jpg' %}">
                <p class="title">Study, Chill, Relax, Gamin...</p>
                <p class="artist">MugaTunes</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '17.jpg' %}">
                <p class="title">Morning</p>
                <p class="artist">Yeonkkot</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '18.jpg' %}">
                <p class="title">Stella's Coffee House</p>
                <p class="artist">Mah</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '19.jpg' %}">
                <p class="title">lofi 4 studying</p>
                <p class="artist">suri colbert</p>
            </div>
            <div class="music-item">
                <img class="album-img" src="{% static '20.jpg' %}">
                <p class="title">Piano Deep Concentration</p>
                <p class="artist">Nitza Md</p>
            </div>
        </div>
    </div>
</body>
</html>